/* ==== AJUSTE PARA ANCORAGEM DO MENU ==== */
html {
    scroll-behavior: smooth; /* Rolagem suave */
}

section {
    scroll-margin-top: 140px; /* Ajuste conforme a altura do seu header */
}

body {
    font-family: var(--fonte-principal);
    background-color: wheat;

}
main{
    padding: 7rem 2.5rem 0rem;
    max-width: 1380px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 7rem;
}

footer {
    background-color: rgb(126, 112, 94);
}

.botao {
    border-radius: 25px;
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 8px 20px;
    transition: background-color 0.3s ease, border 0.3s;
}

.botao:hover {
    background-color: #9e4223;
    color: #ffffff;
    border-color: #9e4223;
}

.botao-vazado {
    background-color: transparent;
    border: 2px solid #ffffff;
}

.botao-preenchido {
    background-color: #ffffff;
    color: #9e4223;
}