.secao-hero {
  background: url(../../src/images/banner-hero.png) no-repeat center;
  background-size: cover;

  height: 500px;
  position: relative;
  border-radius: 15px;
  margin: 1rem 0;
}

.hero-sobreposicao {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  padding: 0 4rem;
}

.hero-conteudo {
  color: #ffffff;
  align-items: center;
  padding-bottom: 3.8rem;
  /* margin-left: 5rem; */
}

.hero-botoes {
  display: flex;
  gap: 20px;
  justify-content: end;
  align-items: center;
  margin-right: 5rem;
  padding-top: 1.5rem;
}
.hero-titulo {
  text-shadow: 3px 1px 4px rgba(0, 0, 0, 0.5);
}

.hero-conteudo .hero-titulo {
  font-size: 2.8rem;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 36px;
}

.hero-descricao {
  font-size: 1.75rem;
  font-weight: 400;
  letter-spacing: 1.5px;
  text-shadow: 3px 1px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
  align-items: center;
}
