/* O container principal do card */

.secao-produtos {
  background-color: #ffffff;
  padding: 1rem; /* Reduzido e responsivo */
  min-height: 600px; /* Altura mínima, como no .sobre */
  flex-grow: 1; /* Permite crescimento proporcional */
  display: flex;
  flex-direction: column; /* Importante para organizar título e container */
  align-items: center;
  border-radius: 15px;
  margin: 2rem 0; /* Mesma margem do .sobre */
  position: relative;
  overflow: hidden;
}

.produtos-container {
  display: flex;
  
  overflow-x: hidden; /* MUDE para hidden */
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  width: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.produtos-container::-webkit-scrollbar {
  display: none;
}

.card-produto {
  min-width: 100%; /* Ocupa 100% do container */
  max-width: 100%;
  scroll-snap-align: start; /* Para na posição exata */
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  padding: 20px;

  border-radius: 15px;
  box-sizing: border-box; /* IMPORTANTE */
}

.cardapio-titulo {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 20px;
  font-weight: bold;
  color: #9e4223;
}

.art-cardapio {
  max-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: invert(34%) sepia(14%) saturate(3891%) hue-rotate(336deg)
    brightness(86%) contrast(93%);
}

/* A caixa da imagem */
.card-imagem {
  flex-shrink: 0; /* Não deixa a imagem "esmagar" */
  max-width: 450px;
  overflow: hidden;
}

.card-imagem img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  display: block;
  object-fit: cover;
}
.card-conteudo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 450px;
  min-width: 400px;
  gap: 15px;
}

.produtos-titulo {  
  border-radius: 10px;
  padding: 3px;
  font-weight: bold;
  color: #9e4223;
}

.produto-descricao { 
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 15px;
  color: #9e4223;
  font-weight: 500;
}

.produto-detalhes {  
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 15px;
  color: #9e4223;
  font-weight: 500;
}

.sumary {
  color: #002a40;
  cursor: pointer;
}

.sumary:hover {
  color: #9e4223;
}
.preparo-conteudo {
  padding: 1rem;
  overflow: hidden;
  max-height: 0;
  transition: max-height 1.2s ease-in-out;
}

details[open] .preparo-conteudo {
  max-height: 800px; /* Ajuste conforme o tamanho real do conteúdo */
}

.preparo-conteudo p {
  margin-bottom: 8px;
  line-height: 1.2rem;
  font-size: 14px;
}

.produto-preparo {  
  padding: 10px;
  margin-bottom: 15px;
  color: #9e4223;
  font-weight: 500;
}

.linha-produto {
  text-align: center;
  margin: 1.5rem;
  color: #9e4223;
}

.produto-rodape {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.produto-preco {
  font-size: 30px;
  font-weight: bold;
  color: #9e4223;
  padding: 2px;
}