.cabecalho {
  position: fixed;
  top: 2rem;
  left: 50%;
  transform: translate(-50%);
  width: calc(100% - 210px);
  border-radius: 15px;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 32px;
  background-color: #ffffff;
}
.navegacao-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* garante que o container ocupe toda a largura disponível */
}

.navegacao-container a:hover img {
  opacity: 0.7;
}

.logo img {
  height: 3.95rem;
  display: block;
  object-fit: cover;
}

.navegacao {
  display: flex;
  align-items: center;
}

.navegacao ul {
  display: flex;
  gap: 3.75rem;
  list-style: none;
}

.navegacao a {
  color: #9e4223;
  font-weight: 400;
  font-size: 1.15rem;
}

.navegacao a:hover {
  font-weight: 500;
  font-size: 1.2rem;
  color: #0369a1;
  box-shadow: 0 4px 20px rgba(59, 130, 246, 0.8);
  border-radius: 10px;
  transition: 0.5s ease;
}

.secao-hero {
  background: url(../../src/images/banner-hero.png) no-repeat center;
  background-size: cover;

  height: 500px;
  position: relative;
  border-radius: 15px;
  margin: 1rem 0;
}

.hero-sobreposicao {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  padding: 0 4rem;
}

.hero-conteudo {
  color: #ffffff;
  align-items: center;
  padding-bottom: 3.8rem;
  /* margin-left: 5rem; */
}

.hero-botoes {
  display: flex;
  gap: 20px;
  justify-content: end;
  align-items: center;
  margin-right: 5rem;
  padding-top: 1.5rem;
}
.hero-titulo {
  text-shadow: 3px 1px 4px rgba(0, 0, 0, 0.5);
}

.hero-conteudo .hero-titulo {
  font-size: 2.8rem;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 36px;
}

.hero-descricao {
  font-size: 1.75rem;
  font-weight: 400;
  letter-spacing: 1.5px;
  text-shadow: 3px 1px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
  align-items: center;
}

.sobre {
  height: 100%;
  flex-grow: 1;
  background: linear-gradient(135deg, #0c4a6e 0%, #075985 50%, #0369a1 100%);
  padding: 2rem;
  margin: 2rem 0;
  border-radius: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 1.25rem;
  line-height: 2rem;
}

.sobre-titulo {
  padding: 2rem;
  font-size: 1.05rem;
  color: #ffffff;
}

.sobre-descricao {
  letter-spacing: 0.05rem;
}

/* O container principal do card */

.secao-produtos {
  background-color: #ffffff;
  padding: 1rem; /* Reduzido e responsivo */
  min-height: 600px; /* Altura mínima, como no .sobre */
  flex-grow: 1; /* Permite crescimento proporcional */
  display: flex;
  flex-direction: column; /* Importante para organizar título e container */
  align-items: center;
  border-radius: 15px;
  margin: 2rem 0; /* Mesma margem do .sobre */
  position: relative;
  overflow: hidden;
}

.produtos-container {
  display: flex;
  
  overflow-x: hidden; /* MUDE para hidden */
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  width: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.produtos-container::-webkit-scrollbar {
  display: none;
}

.card-produto {
  min-width: 100%; /* Ocupa 100% do container */
  max-width: 100%;
  scroll-snap-align: start; /* Para na posição exata */
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  padding: 20px;

  border-radius: 15px;
  box-sizing: border-box; /* IMPORTANTE */
}

.cardapio-titulo {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 20px;
  font-weight: bold;
  color: #9e4223;
}

.art-cardapio {
  max-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: invert(34%) sepia(14%) saturate(3891%) hue-rotate(336deg)
    brightness(86%) contrast(93%);
}

/* A caixa da imagem */
.card-imagem {
  flex-shrink: 0; /* Não deixa a imagem "esmagar" */
  max-width: 450px;
  overflow: hidden;
}

.card-imagem img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  display: block;
  object-fit: cover;
}
.card-conteudo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 450px;
  min-width: 400px;
  gap: 15px;
}

.produtos-titulo {
  
  border-radius: 10px;
  padding: 3px;
  font-weight: bold;
  color: #9e4223;
}

.produto-descricao {
 
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 15px;
  color: #9e4223;
  font-weight: 500;
}

.produto-detalhes {
  
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 15px;
  color: #9e4223;
  font-weight: 500;
}

.sumary {
  color: #002a40;
  cursor: pointer;
}

.sumary:hover {
  color: #9e4223;
}
.preparo-conteudo {
  padding: 1rem;
  overflow: hidden;
  max-height: 0;
  transition: max-height 1.2s ease-in-out;
}

details[open] .preparo-conteudo {
  max-height: 800px; /* Ajuste conforme o tamanho real do conteúdo */
}

.preparo-conteudo p {
  margin-bottom: 8px;
  line-height: 1.2rem;
  font-size: 14px;
}

.produto-preparo {
  
  
  padding: 10px;
  margin-bottom: 15px;
  color: #9e4223;
  font-weight: 500;
}

.linha-produto {
  text-align: center;
  margin: 1.5rem;
  color: #9e4223;
}

.produto-rodape {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.produto-preco {
  font-size: 30px;
  font-weight: bold;
  color: #9e4223;
  padding: 2px;
}
