.cabecalho {
    position: fixed;
    top: 2rem;
    left: 50%;
    transform: translate(-50%);
    width: calc(100% - 300px);
    border-radius: 15px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 32px;
    background-color: #ffffff;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* garante que o container ocupe toda a largura disponível */
}

.nav-container a:hover img {
    opacity: 0.7;
}

.logo img {
    height: 3.95rem;
    display: block;
    object-fit: cover;
}

.navegacao {
    display: flex;
    align-items: center;
}

.navegacao ul {
    display: flex;
    gap: 3.75rem;
    list-style: none;

}

.navegacao a {
    color: #9e4223;
    font-weight: 400;
    font-size: 1.15rem;
}

.navegacao a:hover {
    color: rgb(195, 91, 0);
    opacity: 0.7;
    text-decoration: underline;
}

.hero-section {
    background: url(../../src/images/banner-hero.png) no-repeat center;
    background-size: cover;

    height: 500px;
    position: relative;
    border-radius: 15px;
    margin: 1rem 1.5rem;
}

.hero-overlay {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    padding: 0 4rem;
}

.hero-content {
    color: #ffffff;
    max-width: 1090px;
    align-items: center;
    padding-bottom: 3.8rem;
    margin-left: 5rem;
}

.hero-buttons {
    display: flex;
    gap: 20px;
    justify-content: end;
    align-items: center;
    margin-right: 5rem;
}
.hero-tittle {
   text-shadow: 3px 1px 4px rgba(0, 0, 0, 0.5); 
}

.hero-content .hero-tittle {
    font-size: 2.8rem;
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 36px;
}

.hero-description {
    
    font-size: 1.75rem;
    font-weight: 400;
    letter-spacing: 1.5px;
    text-shadow: 3px 1px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    align-items: center;
}

.sobre{
    max-height: 900px;
    flex-grow: 1;   
    background-color: #9e4223;
    padding: 2rem;
    margin: 1.5rem;
    border-radius: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 1.25rem;
    line-height: 2rem;
    opacity: 0.7;
}

.sobre-title{
    padding: 2rem;
    font-size: 1.05rem;
}

.sobre-description{
    letter-spacing: 0.05rem;
}

.product-section {
    background-color: #ffffff;
	padding: 1.5rem;
    margin: 3.5rem 0 1.5rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 30px;
    border-radius: 20px;    
}

.product-card {
	position: relative;
	width: 500px;
	height: 317px;
	border-radius: 15px;
	overflow: hidden;
}

.overlay{
	position: absolute;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.25);
	z-index: 1;
}

.category-name {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	text-align: center;
}

.um {
	background: url() no-repeat center;
	background-size: cover;
}

.dois {
	background: url() no-repeat center;
	background-size: cover;
}
.tres {
	background: url() no-repeat center;
	background-size: cover;
}
.quatro {
	background: url() no-repeat center;
	background-size: cover;
}
.cinco {
	background: url() no-repeat center;
	background-size: cover;
}

.seis {
	background: url() no-repeat center;
	background-size: cover;
}

@media (max-width:500px) {
	.category-card{
		width: 100%;
	}
}