.cabecalho {
    position: fixed;
    top: 1.25rem;
    left: 50%;
    transform: translate(-50%);
    width: calc(100% - 13.125rem);
    border-radius: 15px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 32px;
    background-color: #ffffff;
}

main{
    background-color: wheat;
}
footer{
    background-color: rgb(126, 112, 94);
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* garante que o container ocupe toda a largura disponível */
}

.nav-container a:hover img{
    opacity: 0.7;
}

.logo img{
    height: 4.5rem;
    display: block;
    object-fit: cover;
}

.navegacao{
    display: flex;
    align-items: center;
}

.navegacao ul{
    display: flex;
    gap: 3.75rem;
    list-style: none;
}

.navegacao a{
    color: #9e4223;
    font-weight: 700;
    font-size: 0.95rem;
}

.navegacao a:hover{
    color: rgb(195, 91, 0);
    opacity: 0.7;
}





